@model GamingAppPractice.Models.Gamer_Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gamer_Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Game:</label>
                @Html.DropDownListFor(m => m.GameID, ViewBag.Games as SelectList, "Select a Game", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Gamer:</label>
                @Html.DropDownListFor(m => m.UserID, ViewBag.Gamers as SelectList, "Select a Gamer", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
